@import '_normalize';
@import '_sprite';
@import '_helpers';

/*
 * Variables
 */

$c_primary: #57778e;
$c_secondary: #f3781e;
$c_border: #e1e6e8;

$f_primary: 'Open Sans', sans-serif;


/*
 * Styles
 */

body{
    font-family: $f_primary;
}

header{
    height: 60px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    .btn{
        margin-top: 12px;
    }
}

.btn{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
    background: $c_secondary;
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 25px;
}

.pull-right{
    float: right;
}

.logo{
    display: inline-block;
    margin: 12px 30px 0 30px;
}

.content{
    display: table;
    width: 100%;
    min-height: calc(100vh - 60px);
}

.text-primary{
    color: $c_primary;
    font-weight: 600;
}

.section{
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.filters{
    font-size: 13px;
    padding: 30px 30px 30px 196px;
    box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.1);
    min-height: 100%;
    position: relative;
    z-index: 1;
    .plus{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: $c_primary;
        position: relative;
        top: 4px;
        border-radius: 10px;
        margin-right: 8px;
        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .icon-minus{
            display: none;
        }
        &.minus{
            .icon-plus{
                display: none;
            }
            .icon-minus{
                display: inline;
            }
        }
    }
}

.search-label{
    display: table;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border: 1px solid $c_border;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 0 4px;
    & > .icon{
        position: absolute;
        left: 14px;
        top: 10px;
    }
    .tag{
        display: inline-block;
        margin: 4px 10px 0 0;
        border: 1px solid #e1e6e8;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        white-space: nowrap;
        @extend .noselect;
        .icon{
            margin-left: 4px;
            position: relative;
            top: -1px;
            cursor: pointer;
        }
    }
    .tags{
        display: table-cell;
        vertical-align: top;
        padding: 0 0 4px 40px;
    }
    .input{
        display: table-cell;
        vertical-align: top;
        width: 100%;
    }
}

.search{
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border: none;
    outline: none;
}

.filters-group{
    padding: 25px 0 0;
    .title{
        @extend .text-primary;
        @extend .noselect;
        margin: 0 0 20px;
    }
    .filter-items{
        font-size: 0;
    }
    label{
        display: inline-block;
        vertical-align: top;
        width: 33%;
        font-size: 13px;
        box-sizing: border-box;
        padding-right: 15px;
        margin-bottom: 25px;
        span{
            display: table-cell;
            vertical-align: middle;
            @extend .noselect;
        }
    }
    .expand{
        cursor: pointer;
    }
    &:not(:last-of-type){
        border-bottom: 1px solid #eff3f5;
    }
}

.accomodations{
    
}

.checkbox-label{
    .check{
        display: table-cell;
        vertical-align: text-top;
        padding-right: 12px;
    }
    .non-checked{
        display: inline-block;
        vertical-align: top;
        width: 18px;
        height: 18px;
        border: 1px solid #cdd1d4;
        border-radius: 3px;
    }
    .checked{
        display: none;
        vertical-align: top;
        margin: 0;
        width: 18px;
        height: 18px;
        background: $c_primary;
        border: 1px solid $c_primary;
        border-radius: 3px;
        .icon{
            margin-left: 3px;
        }
    }
    input[type=checkbox]{
        display: none;
    }
    input:checked + .check{
        .non-checked{
            display: none;
        }
        .checked{
            display: inline-block;
        }
    }
}

.tab-btns{
    font-size: 0;
    button{
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: #57778e;
        height: 45px;
        width: 50%;
        border: none;
        background: white;
        cursor: pointer;
        outline: none;
        &:not(.active){
            box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

.info-row{
    min-height: 65px;
    padding: 0 30px;
    font-weight: 600;
    font-size: 13px;
    color: #28373e;
    box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.1);
    .offers-count{
        float: right;
        line-height: 65px;
    }
    .tags{
        display: inline-block;
    }
    .tag{
        display: inline-block;
        height: 25px;
        border: 1px solid #e1e6e8;
        padding: 0 10px;
        line-height: 25px;
        margin: 19px 5px 19px 0;
        color: #28373e;
        font-size: 13px;
        border-radius: 3px;
    }
    .icon-close{
        cursor: pointer;
        margin-left: 4px;
        position: relative;
        top: -1px;
    }
}

.tab{
    // box-shadow: -1px -1px 3px red;
}

.items{
    font-size: 0;
    padding: 30px;
}

.item{
    display: inline-block;
    width: calc( (100% - 30px) / 2);
    margin-bottom: 30px;
    font-size: 16px;
    position: relative;
    &:not(:nth-of-type(even)){
        margin-right: 30px;
    }
    img{
        display: block;
        width: 100%;
    }
    .desc{
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        color: #fff;
        padding: 0 15px;
        padding-right: 80px;
        font-weight: 600;
    }
    .price{
        font-size: 24px;
        margin-top: -6px;
        position: absolute;
        right: 15px;
        bottom: 0;
        &:before{
            display: inline-block;
            content: '€';
            position: absolute;
            left: -14px;
            top: 3px;
            font-size: 14px;
        }
    }
}

#map{
    height: 600px;
}

.amenities-toggler{
    position: absolute;
    top: 30px;
    left: 30px;
    .icon{
        margin-right: 8px;
        position: relative;
        top: -1px;
    }
}

@media (max-width: 1300px){

    .amenities-toggler{
        display: block;
        position: static;
        margin-bottom: 30px;    
    }

    .filters{
        padding-left: 30px;
        width: 40%; 
    }

    .accomodations{
        width: 60%; 
    }

    .filters-group label{
        width: 50%; 
    }
}

@media (max-width: 950px){

    .item{
        width: 100%;
    }
}
